*.vcd
*.vvp
test_alu.vvp
test_alu.vcd

/.vs/VSWorkspaceState.json
/.vs/rvrtl/FileContentIndex/a27374c0-13e9-457f-b21e-dbaa1d6cac9f.vsidx
/.vs/rvrtl/v17/.wsuo
/.vs/rvrtl/FileContentIndex
/.vs/rvrtl/v17/DocumentLayout.json
/.vs/ProjectSettings.json
/.vs
